@use '../abstract/' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  font-size: rem(16);
  line-height: 1.3;
  overflow-x: hidden;
  background-color: #fafafa;
  &.no-scroll {
    overflow: hidden;
  }
}
body {
  height: 100%;
  width: 100%;
}
button,
input {
  font-family: var(--font-semiBold);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
button {
  cursor: pointer;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;

  @include btnFocus;
}
main {
  width: 100%;
  height: 100%;
  max-width: rem(770);
  margin: 0 auto;
  margin-top: rem(-93);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-gap: rem(29);
  padding: 0 rem(17);
}
