:root {
  --moderateCyan: hsl(176, 50%, 47%);
  --darkCyan: hsl(176, 72%, 28%);

  --black: hsl(0, 0%, 0%);
  --darkGray: hsl(0, 0%, 48%);
  --white: hsl(255, 255%, 255%);
  --silver: #eeeeee;
}
